<div class="bg-photo" [style.background]="background"></div>

<div class="weather">
    <div class="weather-inner">
        Edison, NJ<canvas id="icon1" class="weather-icon" width="25" height="25"></canvas>{{ temp }}&deg;F
    </div>
    <div class="weather-inner" style="top: 25px;">
        {{ conditions }}
    </div>
</div>

<div class="center-div greeting-div">
    <div class="greeting" *ngIf="dateObj">Good {{ dateObj.timeOfDay }}, Anthony!</div>
    <div class="date-time" *ngIf="dateObj">It's {{ dateObj.hours }}:{{ dateObj.minutes }} on {{ dateObj.dayOfWeek }}, {{ dateObj.month }} {{ dateObj.day }}, {{ dateObj.year }}</div>
    <div class="link-input"><input type="text"></div>
</div>